<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	
<link rel="stylesheet" href="style.css">
<head>
<body>
    <!-- Container -->
        <div class="container">
            <div id="colspan">
                <img src="hani.jpg">
                <h4 class="nama">Hani Nur Asri</h4>
                <p><i class="fa fa-briefcase fa-fw large"></i>Mahasiswa</p>
                <p><i class="fa fa-home fa-fw large"></i>Padalarang, Bandung barat</p>
                <p><i class="fa fa-phone fa-fw large"></i>089538817372</p>
                <hr>
                <h3><i class="fa fa-linux fa-fw large"></i>Skills</h3>
                <p>Communication</p>
                <div class="load">
                    <div class="progress" style="width:90%">85%</div>
                </div>
                <p>Team Work</p>
                <div class="load2">
                    <div class="progress2" style="width:80%">90%</div>
                </div>
                <p>Attractive</p>
                <div class="load3">
                <div class="progress3" style="width:70%">90%</div>
            </div>
            
                <hr>
                <h3><i class="fa fa-language fa-fw large"></i>Organisasi</h3>
                <p>Himpunan Mahasiswa Sistem Telekomunikasi</p>
                <p>Mojang Jajaka UPI Purwakarta</p>
                <p>Forum GenRe Kecamatan Padalarang</p>
                <hr>
                <h3><i class="fa fa-globe fa-fw large"></i>Social Media</h3>
                <a href="https://www.tiktok.com/@likeahoneyy?_t=8baadlLpWSd&_r=1"><i class=" fa fa-brands fa-tiktok"></i></a>
                <a href="https://instagram.com/hahaanii?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram fa-fw large"></i></a>
                <a href="https://github.com/hahaanii"><i class="fa fa-github fa-fw large"></i></a>
    
            </div>
          <div class="container-padding">
        <div class="padding">
                <div class="content1">
            <h2><i class="fa fa-briefcase fa-fw large"></i>School</h2>
            <h3>Sekolah Dasar Negeri Jayamekar</h3>
            </p>
            </div>
            <hr>
                <div class="content2">
            <h3>Sekolah Menengah Pertama Negeri 2 Padalarang</h3>
            </div>
            <hr>
                <div class="content3"> 
            <h3>Sekolah Menengah Atas 2 Padalarang</h3>
            </div>
            </div>
            </div>
          <div class="padding-bottom">
                <div class="bottom">
                 <div class="content1">
            <h2><i class="fa fa-briefcase fa-fw large"></i>Achivment :</h2>
            <h3>Mahasiswa KIP-K IPK tertinggi Mahasiswa Sistem Telekomunikasi 2022</h3>
            <h3>Top 20 Grand Finalis Mojang UPI Purwakarta</h3>
            <h3>Duta Genre Kecamatan Padalarang 2023</h3>
            </div>
            </div>
            </div>
        </div>
    </body>
</html>